{% extends 'base.html.twig' %}

{% block title %}
    Hello HomeController!
            
        
    
{% endblock %}

{% block body %}
    <header>
        <h1 class="text-center">MyCinema</h1>
        <nav id="navbar" class="d-flex justify-content-center">
            {% if is_granted('ROLE_USER') %}
            <ul>
                <li><a href="#">Films</a></li>
                <li><a href="#">Ce soir</a></li>
                <li>Bonjour {{ app.user.email }}!</li>
                <li><a href="/profil">profil</a></li>
                <li><a href="/logout">Déconnexion</a></li>
            </ul>
            {% else %}
            <ul>
                <li><a id="movies" href="#">Films</a></li>
                <li><a id="projection" href="#">Ce soir</a></li>
                <li><a id="projection" href="/login">Connexion</a></li>
                <li><a id="projection" href="/register">Inscription</a></li>
            </ul>
            {% endif %}
        </nav>
    </header>
{% endblock %}
