{% extends 'base.html.twig' %}

{% block title %}
    Hello HomeController!
            
        
    
{% endblock %}

{% block body %}
    <header>
        <h1>
            MyCinema
                            
                    
        </h1>
        <nav class="menu">
            <tr>
                {% if is_granted('ROLE_USER') %}
                <td>
                    <a id="movies" href="movies.php">Films</a>
                </td>
                <td>
                    <a id="projection" href="projection.php">Ce soir</a>
                </td>
                <td>
                    <p class="p-3">Bonjour {{ app.user.email }}!</p> 
                </td>
                <td>
                    <a href="/profil">profil</a> 
                </td>
                <td>
                    <a href="/logout">Déconnexion</a>
                </td>
                {% else %}
                <td>
                    <a id="projection" href="/login">Connexion</a>
                </td>
                <td>
                    <a id="projection" href="/register">Inscription</a>
                </td>
                {% endif %}
                </tr>
        </nav>
    </header>
{% endblock %}
